body{
  background-image:url( "https://get.pxhere.com/photo/iphone-watch-hand-music-technology-leather-pen-equipment-money-office-wallet-bowtie-headphones-purse-sunglasses-glasses-case-accessories-gadgets-cell-men's-971375.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
}
.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: static;
  bottom:20vh;
}
.welh1{
  font-style: italic;
}
.meeth1{
  font-size: 60px;
}
.App{
  height: 30vh;
}